@import '../../styles/variables';

.contacts-page {
  width: 100%;

  &__title {
    width: $width-site;
    margin: 0 auto;
    padding: $sp * 4 $sp * 2 $sp * 2;
  }

  &__map {
    width: 100%;
    margin-bottom: $sp * 2;
    height: 460px;
  }

  &__content {
    width: $width-site;
    margin: 0 auto;
    padding: $sp * 2 $sp * 2 $sp * 4;

    &-block {
      margin-bottom: $sp * 4;
      font-weight: $font-weight-light;
      font-size: $main-size;
      color: $grey;
      letter-spacing: $letter-spacing-big;

      a {
        text-transform: none;
        color: $grey;
      }

      p {
        &.whatsapp-icon,
        &.clock-icon,
        &.phone-icon,
        &.letter-icon {
          display: flex;
          align-items: center;
        }

        svg {
          width: $size-icon-normal;
          height: $size-icon-normal;
          margin-right: $sp * 1.5;
        }
      }
    }
  }
}

@media (min-width: $ipad) {
}

@media (min-width: $desctop) {
}
