@import "../../styles/variables";

.feedback {
  width: 100%;
  background-color: darken($white, 1%);

  &__wrapper {
    width: 100%;
    height: 100%;
    padding: $sp * 4 $sp * 2 $sp * 5;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $sp * 3;

    &-arrows {
      display: flex;
      align-items: center;

      .arrow {
        width: $size-icon-normal;
        height: $size-icon-normal;
        background-repeat: no-repeat;

        &_left {
          background-image: url("#{$files}/icons/arrow-left.svg");
        }
        &_right {
          background-image: url("#{$files}/icons/arrow-right.svg");
        }

        & + & {
          margin-left: $sp / 2;
        }
      }
    }
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-block {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-icon {
        width: 92px;
        height: 92px;
        background-image: url("#{$files}/recources/userpic.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        margin-bottom: $sp * 1.5;
      }

      &-text {
        &-name {
          color: $grey;
          font-size: $middle-size;
          font-weight: $font-weight-bold;
          margin-bottom: $sp * 2;
          letter-spacing: $letter-spacing-big;
          text-align: center;

          span {
            display: none;
          }
        }

        &-comment {
          color: $grey;
          font-size: $middle-size;
          letter-spacing: $letter-spacing-big;
        }
      }
    }

    &-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: $sp * 6;

      .dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid darken($white, 20%);
        cursor: pointer;
        position: relative;

        &::before {
          transition: all 0.2s;
        }

        &:hover {
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 6px;
            height: 6px;
            background-color: darken($white, 20%);
            border-radius: 50%;
          }
        }

        &.active {
          border: 1px solid $coral;
        }

        & + .dot {
          margin-left: $sp;
        }
      }
    }
  }
}

@media (min-width: $ipad) {
  .feedback {
    &__wrapper {
      padding: $sp * 4 $sp * 3 $sp * 5;
    }

    &__body {
      align-items: center;
      flex-direction: column;

      &-block {
        flex-direction: row;
        align-items: flex-start;

        &-icon {
          min-width: 80px;
          width: 80px;
          height: 80px;
          margin-bottom: 0;
          margin-right: $sp * 4;
        }

        &-text {
          display: flex;
          flex-direction: column-reverse;
          justify-content: flex-start;

          &-name {
            text-align: left;
            font-weight: $font-weight-light;

            span {
              display: inline-block;
            }
          }

          &-comment {
            margin-bottom: $sp * 3;
          }
        }
      }

      &-dots {
        margin-top: $sp * 4;
      }
    }
  }
}

@media (min-width: $desctop) {
  .feedback {
    width: 100%;

    &__wrapper {
      width: $width-site;
      margin: 0 auto;
      padding: $sp * 4 $sp * 2 $sp * 5;
    }

    &__header {
      margin-bottom: $sp * 4;
    }

    &__body {
      &-block {
        &-text {
          &-comment {
            font-size: $main-size;
          }
        }
      }
    }
  }
}
