/* Fonts */

$path-fonts: "assets/fonts";
$font-family: "comfortaa";

@mixin font-face(
  $font-family,
  $font,
  $path-fonts,
  $weight: normal,
  $style: normal
) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: local("#{$font}"),
      url("./../../assets/fonts/comfortaa/#{$font}.woff") format("woff"),
      url("./../../assets/fonts/comfortaa/#{$font}.ttf") format("truetype"),
      url("./../../assets/fonts/comfortaa/#{$font}.eot?#iefix")
        format("embedded-opentype");
  }
}

@include font-face($font-family, "Comfortaa-Light", $path-fonts, 300, normal);
@include font-face($font-family, "Comfortaa-Regular", $path-fonts, normal, normal);
@include font-face($font-family, "Comfortaa-Bold", $path-fonts, bold, normal);

/* /Fonts */
