@import '../../styles/variables';

.news {
    width: 100%;
    height: 360px;
    background-image: url('#{$files}/recources/news.png');
    background-repeat: no-repeat;
    background-size: 180%;
    background-position: 65% center;
    background-color: $news;

    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: $sp * 3 $sp * 2;

        &-block {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
        }

        &-button {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__list {
        width: 60%;

        &-item {
            letter-spacing: $letter-spacing-big;
            font-weight: $font-weight-light;
            font-size: $small-size;
            line-height: $line-height-normal;
            color: $grey;
            text-align: right;

            & + & {
                margin-top: $sp * 2;
            }
        }
    }
}

@media (min-width: $ipad) {
    .news {
        background-size: 110%;

        &__wrapper {
            padding: $sp * 4 $sp * 3;
        }

        &__list {
            width: 40%;

            &-item {
                font-size: $middle-size;

                & + & {
                    margin-top: $sp * 3;
                }
            }
        }
    }
}

@media (min-width: $desctop) {
    .news {
        margin: 0 auto;
        height: 560px;
        background-size: 100%;

        &__wrapper {
            margin: 0 auto;
            width: $width-site;
            height: 100%;
            padding: $sp * 5 $sp * 2;
        }

        &__list {
            width: 40%;

            &-item {
                font-size: $big-size;

                & + & {
                    margin-top: $sp * 5;
                }
            }
        }
    }
}
